<header class="header-nav">
  <div class="nav-left">
    <ul>
      <li class="logo" (click)="title.emit('popular')">VUDU</li>
      <li>Movies</li>
      <li>TV</li>
      <li>My Vudu</li>
      <li>Free</li>
    </ul>
  </div>
  <div class="nav-right" [ngClass]="displayNoneFromRegistration ? 'd_none' : '' ">
    <ul>
      <!-- <li class="name">Redeem</li> -->
      <li class="name" (click)="signUp.emit(true)">Sign up</li>
      <li><i class="fas fa-search" (click)="title.emit('search')" ></i></li>
    </ul>
  </div>
</header>
