<app-header></app-header>
<main>
  <div class="movie_details">
    <img
      [src]="'https://image.tmdb.org/t/p/w500/' + movieObj.poster_path"
      alt=""
      class="poster_img"
    />
    <div class="description">
      <h2 class="movie_title">{{ movieObj.original_title }}</h2>
      <div class="line-1">
        <div class="genre_year">
          <div
            class="genres"
            *ngFor="let genre of twoGenre"
          >
            <p>{{ genre.name }} |</p>
          </div>
          <div>
            <p>{{ movieObj.release_date | date: "YYYY" }}</p>
          </div>
        </div>
        <div class="runtime">
          <p>{{ movieObj.runtime }} min</p>
          <p>CC</p>
        </div>
      </div>
      <div class="line-2">
        <ng-rating-bar
          [value]="movieObj.vote_average / 2"
          [ratingCount]="5"
          [disabled]="true"
          [styles]="{ fontSize: '25px', margin: '5px' }"
        ></ng-rating-bar>
        <span>({{ movieObj.vote_count | number: "2." }})</span>
      </div>
      <div class="line-3">
        <p class="trailer">Trailer</p>
        <p class="list">List</p>
        <p class="redeem">Redeem</p>
      </div>
      <div class="line-4">
        <p [ngClass]="{ more: btnText == 'More' }" *ngIf="movieObj.overview">
          {{ movieObj.overview }}
        </p>
        <span (click)="more()" class="more-btn" *ngIf="movieObj.overview">{{
          btnText
        }}</span>
      </div>
      <div class="buttons">
        <button>Rent $3.99 <i class="fas fa-caret-down"></i></button>
        <button>Buy $4.99 <i class="fas fa-caret-down"></i></button>
      </div>
    </div>
    <div class="backdrop_img">
      <img
        [src]="'https://image.tmdb.org/t/p/w500/' + movieObj.backdrop_path"
        alt=""
      />
    </div>
  </div>
  <hr class="hr" />

  <h2 class="cast_title">Cast & Crew</h2>
  <app-actor-card [castAndCrew] = 'castAndCrewObj.cast'></app-actor-card>
</main>
