.movie_details {
  width: 80%;
  margin: 0 auto;
  display: flex;
  position: relative;
  .poster_img {
    height: 300px;
    margin-top: 5%;
  }
  .description {
    margin-top: 5%;
    padding-left: 30px;
    .line-1 {
      display: flex;

      .genre_year {
        display: flex;
        p {
          font-weight: 100;
          margin-left: 3px;
          font-size: 1.3rem;
        }
      }
      .runtime {

        display: flex;
        p {
          background-color: rgb(197, 193, 193);
          border-radius: 12px;
          padding: 4px 10px;
          color: black;
          font-weight: bold;
          font-size: 0.9em;
          margin-left: 0.7rem;
        }
      }
    }
    .line-2 {
      margin-top: -20px;
      margin-left: 5px;
    }
    .line-3 {
      display: flex;
      margin: 1.5rem 0;
      cursor: pointer;
      p {
        padding: 3px 65px;
        border-radius: 5px;
        margin-right: 17px;
        border: 2px solid #014d89;
      }
    }
    .line-4 {
      width: 40%;

      .more {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
      }

      .more-btn {
        color: #014d89;
        position: relative;
        right: -100%;
        bottom: 2.3rem;
        cursor: pointer;
      }
    }
    .buttons {
      button {
        &:focus {
          outline: none;
        }
        padding: 8px 45px;
        border-radius: 7px;
        border: none;
        background-color: #014d89;
        margin-right: 1rem;
        font-size: 1.2rem;
        color: white;
        position: relative;
        i {
          position: absolute;
          right: 7px;
          top: 27%;
        }
      }
    }
  }
  .backdrop_img {
    z-index: 1;
    img {
      position: absolute;
      right: 0;
      // width:56%;
      height: 103%;
      z-index: 0;
      mask-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    }
  }
}
.cast_title {
  margin-left: 10.5%;
  font-size: 1.6em;
  margin-bottom: 15px;
}
.hr {
  border: 1px solid #014d89;
}
