<app-header></app-header>

<header class="home-nav">
  <button class="btn btn-primary filter-btn">
    Filters <i class="fas fa-sort-down"></i>
  </button>
  <div class="checkbox-container">
    <input type="checkbox" name="free" id="checkb" class="nav-checkbox" />
    <span>Free movies only</span>
  </div>
</header>
<hr />
<!-- section for 3 tabs -->
<section class="filter">
  <div
    class="popular"
    [ngClass]="openTab === 'popular' ? 'active' : ''"
    (click)="openTab = 'popular'"
  >
    Popular Movies
  </div>
  <div
    class="trending"
    [ngClass]="openTab === 'trending' ? 'active' : ''"
    (click)="openTab = 'trending'"
  >
    Trending Movies
  </div>
  <div
    class="search"
    [ngClass]="openTab === 'search' ? 'active' : ''"
    (click)="openTab = 'search'"
  >
    Search/Search a movie
  </div>
</section>
<main
  class="main-container"
  *ngIf="openTab === 'popular'"
  infiniteScroll
  [infiniteScrollDistance]="1"
  [infiniteScrollThrottle]="150"
  (scrolled)="popularMovies()"
  [fromRoot]="true"
>
  <div *ngFor="let movie of popularMoviesArr">
    <app-movie-card [movie]="movie" [genres]="genresArr" (detailsEvent) = 'openDetails(movie.id)'></app-movie-card>
  </div>
</main>
<!-- ტრენდული ფილმების კონტეინერი -->
<main
  class="main-container"
  *ngIf="openTab === 'trending'"
  infiniteScroll
  [infiniteScrollDistance]="1"
  [infiniteScrollThrottle]="150"
  (scrolled)="trendingMovies()"
  [fromRoot]="true"
>
  <div *ngFor="let movie of trendingMoviesArr">
    <app-movie-card [movie]="movie" [genres]="genresArr" (detailsEvent) = 'openDetails(movie.id)'></app-movie-card>
  </div>
</main>

<app-search *ngIf="openTab === 'search'"></app-search>