.search-container {
  width: 50%;
  margin: 20px auto;
  .form-input {
    &:focus {
      outline: none;
    }
    width: 35vw;
    height: 100%;
    padding-left: 10px;
  }
  button {
    width: 10vw;
    color: #fff;
    background-color: rgb(33, 163, 214);
  }
}

.main-container {
  width: 85%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: 0 auto;
  gap: 10px;
}

.no-movies {
  color: #fff;
  display: inline-block;
  margin-top: 5%;
  width: 100%;
  text-align: center;
}

