<div class="input-group search-container">
  <form id="search-box" [formGroup]="mform">
    <input
      class="form-input"
      placeholder="Search Movie"
      formControlName="name"
    />
  </form>
  <div class="input-group-append">
    <button class="btn" type="button" (click)="searchMovie()">Search</button>
  </div>
</div>
<main
  class="main-container"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="150"
  (scrolled)="addMovies()"
  [fromRoot]="true"
>
  <div *ngFor="let movie of searchedMoviesArr">
    <app-movie-card [movie]="movie" [genres]="genresArr" (detailsEvent) = 'openDetails(movie.id)'></app-movie-card>
  </div>
</main>
